<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Request Header Parser | Aaron Lozano</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <h1>Request Header Parser</h1>
      <p class="tagline">Extract IP address, language, and software headers.</p>
      <br />

      <div class="buttons">
        <button id="btnMe">Get My Headers</button>
      </div>

      <pre id="outputBox"></pre>

      <footer>
        By
        <a href="https://github.com/LozanoHAU/LozanoWD303_headerparser"
          >Aaron Lozano</a
        >
      </footer>
    </main>

    <script>
      const btnMe = document.getElementById("btnMe");
      const outputBox = document.getElementById("outputBox");

      async function fetchHeaders() {
        const res = await fetch("/api/whoami");
        const data = await res.json();
        outputBox.textContent = JSON.stringify(data, null, 2);
      }

      btnMe.addEventListener("click", fetchHeaders);
    </script>
  </body>
</html>
